.#{$namespace}__body {
  position: relative;
  height: 100%;
  overflow: auto;
  padding: 6rem 15%;
  z-index: map-get($z-index, 'body');
  opacity: 0;
  transition: opacity 0.2s;

  &--is-active {
    opacity: 1;
  }

  &--no-padding {
    padding: 0;
  }
}
