.#{$namespace}__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  border: none;
  text-indent: 100%;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
  transition: transform $transition-duration, opacity $transition-duration;
  z-index: map-get($z-index, 'closeButton');

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 24px;
    background: #fff;
  }

  &::before {
    transform: translate(-50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%) rotate(-45deg);
  }

  &:hover {
    background: rgba(0, 0, 0, 0.6);
  }

  transform: scale(0);
  opacity: 0;

  &--is-active {
    transform: scale(1);
    opacity: 0;
  }
}
