$namespace: 'RMM';
$transition-duration: 0.365s;

// generate z-index per component
$base-z-index: 9999;
$component-list: container body closeButton;
$z-index: ();

@each $component in $component-list {
  $base-z-index: $base-z-index + 1;
  $z-index: map-merge(
    $z-index,
    (
      $component: $base-z-index,
    )
  );
}
