* {
  box-sizing: border-box;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  margin: auto;
}

img {
  width: 100%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
.action {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 8px;
}
.action > button {
  width: 140px;
  height: 36px;
  border: none;
  background-color: pink;
}
